.container {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    margin: 0rem;
}

.header {
    background-color: #87c38f;
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: left;
    padding: 0rem 5rem;
    color: #252424;
}

.headerImage {
    width: 6rem;
    height: 6rem;
}

.headerHomeImage {
    width: 15rem;
    height: 15rem;
    float: left;
}

.backToHome {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    margin: 1rem 1rem 1rem 1rem;
}

.navBar {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    background-color: #226F54;
    color: #ffffff;
    top: 0px;
    width: 100%;
    height: 5rem;
    margin: 0rem;
    padding: auto 0;
}

.header2 {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    height: 30rem;
    align-items: center;
    padding: 1rem;
    margin: 0rem;
}

.header3 {
    font-size: 1.5rem;
    line-height: 1.4;
}

.secstyle {
    height: auto;
    padding: 1rem 1rem 2rem 1rem;
    margin: auto;
    width: 75%;
}

.head3sec {
    margin: 0rem;
    padding: 1rem 0rem 0rem 0rem;
    font-size: 20px;
    line-height: 1.4;
}

.head2sec {
    margin: 0rem;
    padding: 0rem 0rem 1rem 0rem;
    font-size: 25px;
}

.header2third {
    background-color: #ffffff;
    width: 100%;
    height: auto;
    align-items: left;
    padding: 0rem 5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.imgClass {
    float: left;
    margin: 0rem 1rem 0rem 0rem;
}

.projAnchor {
    font-size: 20px;
    font-weight: bold;
}

.imgDiagram {
    align-items: center;
    margin: 0rem auto;
}